<div class="dogs-container">
    <div class="card d-flex flex-row justify-content-end p-3 mb-4">
        <button [disabled]="loadingDogs" class="btn btn-primary" (click)="createMarkedData()"><i *ngIf="loadingDogs"
                class="fa fa-spinner fa-spin me-2" aria-hidden="true"></i>Create Marked Data</button>
    </div>
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="d-flex flex-column align-items-center">Todo <input class="form-check-input"
                            type="checkbox" (click)="allDogs()"></th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nombre latino</th>
                    <th scope="col">Tipo de animal</th>
                    <th scope="col">Habitad</th>
                    <th scope="col">Localización</th>
                </tr>
            </thead>
            <tbody *ngIf="!loading">
                <tr *ngFor="let dog of Dogs; index as i">
                    <th scope="row" class="text-center"><input [checked]="dog.add??false" class="form-check-input"
                            type="checkbox" (click)="addDogs(dog.id)"></th>
                    <td>
                        <img [src]="dog.image_link" class="me-2" style="width: 5rem">
                        {{ dog.name }}
                    </td>
                    <td>{{ dog.latin_name }}</td>
                    <td>{{ dog.animal_type }}</td>
                    <td>{{ dog.habitat }}</td>
                    <td>{{ dog.geo_range }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!loading" class="d-flex justify-content-center m-3">
            <button (click)="btnRefresh()" class="btn btn-primary">
                <i class="fa fa-refresh"></i>
            </button>
        </div>

        <div *ngIf="loading" class="d-flex justify-content-center m-3">
            <i style="font-size: 30px;" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        Hola
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>