<form [formGroup]="formDog">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">{{dataDog.title}}</h4>
        <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="container p-3">
            <div class="row">
                <div class="col-12">
                    <formly-form [form]="formDog" [model]="model" [fields]="fields">
                    </formly-form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="onSubmit()">Save</button>
    </div>
</form>